.card{
    min-width: 330px;
    max-width: 330px;
}

.cardContent{
    background-color: #222;
    color: #FAFAFA;
}

.title{
    background-color: #23b5b5;
    color:#FAFAFA;
    padding: 25px 0;
    text-align: center;
    /* margin-bottom: 2vh; */
}

.pos{
    padding: 10px 0;
}