.header{
    background-color: #000;
    color: #FAFAFA;
    padding-top: 50px;
    /* padding-bottom: 50px; */
}
.header__title{
    padding-bottom: 9px;
}

img{
    height: auto;
    width: 100%;
}
